nav {
  padding: 1.5em 0;
  margin: 0 0 1.5em 0;
  border-bottom: 1px solid $green;

  .navbar-brand {
    letter-spacing: 3px;
  }

  .navbar-nav {
    float: right;
    display: inline-block;
    list-style-type: none;

    .nav-item {
      display: inline-block;
      float: left;
      margin-left: 0.5em;
    }
  }
}
